/********** Template CSS **********/
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --primary: #126b77;
  --secondary: #15ace1;
  --light: #f4f7fe;
  --dark: #14183e;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}
.bg-primary {
  background-color: #1f5b51 !important;
}
.bg-dark {
  background-color: #000 !important;
}
/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
  font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
  font-weight: 500 !important;
}
.navbar-brand img {
  width: 180px;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}
.btn-main {
  background: #1f5b51 !important;
  color: #ffffff;
  border: 0 !important;
  padding: 15px 50px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.form-control {
  height: 48px;
}
#checkoutForm .form-group {
  margin-bottom: 10px;
}
#checkoutForm {
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 10px;
  width: calc(100% - 60px);
}
#checkoutForm label {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 10px;
}
.error {
  color: #ff0000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}
#checkout-wrapper {
  background: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
}
#checkout-wrapper #checkout-items .d-flex {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}
#checkout-wrapper #checkout-items p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 5px;
}
#checkout-wrapper #checkout-items p span {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 5px;
}
#checkout-wrapper #checkout-items h6 {
  font-size: 20px;
  font-weight: 600 !important;
  color: #000000;
  margin-bottom: 3px;
}
.grandTotal h4 {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #1f5b51;
  margin-top: 25px;
}
.successOuter {
  text-align: center;
  padding: 50px 25px;
}
.successOuter h2 {
  font-size: 28px;
  font-weight: 700 !important;
  color: #1f5b51;
  margin-bottom: 15px;
  margin-top: 25px;
}
.successOuter p {
  font-size: 20px;
  font-weight: 400 !important;
  color: #000;
  margin-bottom: 30px;
}

/*** Navbar ***/
.sticky-top {
  top: -150px;
  transition: 0.5s;
}

.navbar {
  padding: 6px 0 !important;
  height: 75px;
}

.navbar .navbar-nav .nav-link {
  margin-right: 35px;
  padding: 0;
  color: rgba(255, 255, 255, 0.7);
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: rgba(255, 255, 255, 1);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav {
    padding: 0 15px;
    background: var(--primary);
  }

  .navbar .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Hero Header ***/
.hero-header {
  margin-top: -75px;
  background: url(../../public/images/bg-hero.png) center center no-repeat;
  background-size: cover;
}

.dashboard {
  margin-top: -75px;
  background: url(../../public/images/bg-hero.png) center center no-repeat;
  background-size: cover;
  background-color: red;
  height: 100vh !important;
}

.dashboard {
  margin-top: -75px;
  background: url(../../public/images/bg-hero.png) center center no-repeat;
  background-size: cover;
  background-color: red;
  height: 100vh !important;
}

.hero-header .breadcrumb-item + .breadcrumb-item::before {
  color: var(--light);
}

/*** Section Title ***/
.section-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 4px;
  bottom: 0;
  left: 0;
  background: var(--dark);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  bottom: 0;
  left: 50px;
  background: var(--dark);
}

.section-title.text-center::before {
  left: 50%;
  margin-left: -25px;
}

.section-title.text-center::after {
  left: 50%;
  margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 2px;
  left: 0;
  background: rgba(33, 66, 177, 0.5);
}

.section-title h6::after {
  top: 5px;
  left: 3px;
}

/*** About ***/
.about-images {
  position: relative;
  overflow: hidden;
}

.about-images::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../../public/images/bg-hero.png) top left no-repeat;
  background-size: contain;
}

/*** Service ***/
.service-item {
  position: relative;
  padding: 45px 30px;
  background: #ffffff;
  transition: 0.5s;
}

.service-item:hover {
  background: var(--primary);
}

.service-item .service-icon {
  margin: 0 auto 20px auto;
  width: 90px;
  height: 90px;
  color: var(--primary);
  background: var(--light);
  transition: 0.5s;
}

.service-item:hover .service-icon {
  background: #ffffff;
}

.service-item h5,
.service-item p {
  transition: 0.5s;
}

.service-item:hover h5,
.service-item:hover p {
  color: #ffffff;
}

.service-item a.btn {
  position: relative;
  display: flex;
  color: var(--primary);
  transition: 0.5s;
  z-index: 1;
}

.service-item:hover a.btn {
  color: var(--primary);
}

.service-item a.btn::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
  border-radius: 35px;
  background: var(--light);
  transition: 0.5s;
  z-index: -1;
}

.service-item:hover a.btn::before {
  width: 100%;
  background: var(--light);
}

/*** Feature ***/
.feature {
  background: url(../../public/images/bg-hero.png) center center no-repeat;
  background-size: cover;
}

/*** Newsletter ***/
.newsletter {
  background: url(../../public/images/bg-hero.png) center center no-repeat;
  background-size: cover;
}

.productDeteil h2,
.productDeteil #product-price {
  font-size: 36px;
  font-weight: 700 !important;
  color: #1f5b51;
  margin-bottom: 20px;
}
.productDeteil p {
  font-size: 18px;
  font-weight: 400 !important;
  color: #000000;
  margin-bottom: 20px;
}
table thead {
  background: #1f5b51;
  color: #ffffff;
  padding: 10px;
}
table tr td,
table tr th {
  padding: 15px !important;
}
table tr {
  vertical-align: middle;
}
@media (min-width: 992px) {
  .newsletter .container {
    max-width: 100% !important;
  }

  .newsletter .newsletter-text {
    padding-right: calc(((100% - 960px) / 2) + 0.75rem);
  }
}

@media (min-width: 1200px) {
  .newsletter .newsletter-text {
    padding-right: calc(((100% - 1140px) / 2) + 0.75rem);
  }
}

@media (min-width: 1400px) {
  .newsletter .newsletter-text {
    padding-right: calc(((100% - 1320px) / 2) + 0.75rem);
  }
}

/*** Case Study ***/
.case-item images {
  transition: 0.5s;
}

.case-item:hover images {
  transform: scale(1.2);
}

.case-overlay {
  position: absolute;
  padding: 30px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background: linear-gradient(rgba(20, 24, 62, 0), var(--dark));
  z-index: 1;
}

.case-overlay small {
  display: inline-block;
  padding: 3px 15px;
  color: #ffffff;
  background: rgba(20, 24, 62, 0.7);
  border-radius: 25px;
  margin-bottom: 15px;
}

.case-overlay span.btn:hover {
  color: var(--primary);
  background: #ffffff;
  border-color: #ffffff;
}

/*** FAQs ***/
.accordion .accordion-item {
  border: none;
  margin-bottom: 15px;
}

.accordion .accordion-button {
  background: var(--light);
  border-radius: 2px;
}

.accordion .accordion-button:not(.collapsed) {
  color: #ffffff;
  background: var(--primary);
  box-shadow: none;
}

.accordion .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion .accordion-body {
  padding: 15px 0 0 0;
}

/*** Testimonial ***/
.testimonial-carousel {
  position: relative;
}

.testimonial-carousel .owl-nav {
  position: absolute;
  width: 40px;
  height: 100%;
  top: calc(50% - 50px);
  left: -21px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  margin: 5px 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  background: #ffffff;
  border: 1px solid var(--primary);
  border-radius: 40px;
  font-size: 18px;
  transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  background: var(--primary);
  color: #ffffff;
}

.testimonial-carousel .owl-dots {
  margin-top: 35px;
  margin-left: 3rem;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  background: #ffffff;
  border: 1px solid var(--primary);
  border-radius: 15px;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  width: 30px;
  background: var(--primary);
}

/*** Team ***/
.team-item {
  transition: 0.5s;
  border: 1px solid transparent;
  transition: 0.5s;
}

.team-item:hover {
  border-color: var(--primary);
}

/*** Footer ***/
.footer {
  background: url(../../public/images/bg-hero.png) center center no-repeat;
  background-size: contain;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(256, 256, 256, 0.1);
  border-radius: 40px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  transition: 0.3s;
}

.footer .btn.btn-link:hover {
  color: #ffffff;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 14px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: rgba(255, 255, 255, 0.5);
}

.footer .copyright a:hover {
  color: #ffffff;
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 84px;
    left: -24px;
    width: calc(100% + 50px);
  }
  .sticky-top.bg-primary .navbar-collapse {
    top: 75px;
  }
  .navbar-dark .navbar-toggler {
    margin-right: 15px !important;
  }
  .py-5,
  .pt-5 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .mb-5 {
    margin-bottom: 1.5rem !important;
  }
  .newsletter .col-md-5 {
    display: none;
  }

  .productDeteil .pe-5 {
    padding-right: 0px !important;
  }
  .productDeteil img {
    margin-top: 30px;
  }
  .btn-main {
    width: 100%;
  }
  .productDeteil .col-md-7.pe-5 {
    padding-right: 15px !important;
  }
  .hero-header .pt-5 {
    padding-top: 3rem !important;
    padding-bottom: 0 !important;
  }
  .hero-header {
    padding-bottom: 0 !important;
  }
  .productDeteil h2,
  .productDeteil #product-price {
    font-size: 28px;
  }
  .productDeteil p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .table-responsive .table {
    width: 800px;
  }
  #checkoutForm {
    width: 100%;
    margin-top: 20px;
  }
  .checkOutContainer .col-md-7 {
    order: 2;
  }
  .breadcrumb {
    margin-bottom: 3rem !important;
  }
}

.productDetail {
  padding-top: 40px;
  padding-bottom: 40px;
}

.productDetail .leftCol {
  padding-right: 20px;
}

.productDetail .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  margin-bottom: 16px;
}

.productDetail .description {
  margin-bottom: 20px;
}

.skeleton-box {
  background-color: #e2e2e2;
  border-radius: 4px;
  animation: skeleton-loading 1.2s ease-in-out infinite;
}

@keyframes skeleton-loading {
  0% {
    background-color: #e2e2e2;
  }
  50% {
    background-color: #d6d6d6;
  }
  100% {
    background-color: #e2e2e2;
  }
}

.checkbox-skeleton {
  width: 20px;
  height: 20px;
}

.image-skeleton {
  width: 60px;
  height: 60px;
}

.text-skeleton {
  width: 100px;
  height: 16px;
}

.button-skeleton {
  width: 60px;
  height: 24px;
}

.table-header {
  background: red;
  color: white;
}

.cart-product-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.appbar {
  background-color: #dcf2fb !important;
  color: #000 !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.sidebar-header {
  padding: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
}

.MuiDrawer-paper {
  background-color: #dcf2fb !important;
  padding: 0 20px;
}

.search-box {
  background: #f5f5f5;
  border-radius: 8px;
}

.stat-card {
  padding: 20px;
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.big-section {
  /* padding: 30px; */
  background: white;
  border-radius: 12px;
  min-height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* Restore proper MUI outlined border */
.MuiOutlinedInput-root > fieldset {
  border: 1px solid rgba(0, 0, 0, 0.23) !important;
  border-radius: 8px !important; /* rounded corners */
}

/* On hover */
.MuiOutlinedInput-root:hover > fieldset {
  border-color: rgba(0, 0, 0, 0.6) !important;
}

/* On focus */
.MuiOutlinedInput-root.Mui-focused > fieldset {
  border-color: #1976d2 !important; /* MUI primary color */
  border-width: 2px !important;
}

.sidebar-header {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: var(--primary);
  background: linear-gradient(135deg, #126b77, #15ace1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.big-section {
  padding: 25px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

@media (max-width: 767px) {
  .big-section {
    padding: 0;
  }
}

.big-section:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}
